---
const { slug, name, errors, successMessage } = Astro.props
const inputDisabled = name ? true : false
---

<div class='rsvp' id='rsvp'>
  <h2 class='rsvp__title heading-2'>RSVP</h2>
  <p>
    Por favor, confirma tu asistencia antes del 08 de Noviembre. Agradecemos tu
    pronta respuesta para ayudarnos con la planificación del evento
  </p>

  {successMessage && <p class='successBanner'>{successMessage}</p>}
  {errors.form && <p class='errorBanner'>{errors.form}</p>}
  <form method='POST' action='#rsvp'>
    <label>
      <span class='label'>Tu nombre</span>
      <input
        type='text'
        name='name'
        id='name'
        required
        value={name}
        readonly={inputDisabled}
      />
    </label>
    {errors.name && <p class='error'>{errors.name}</p>}

    <fieldset>
      <legend class='label'>¿Asistirás?</legend>

      <div class='radio-wrapper'>
        <input type='radio' id='yes' name='assisting' value='Yes' required />
        <label for='yes'>Sí</label>
      </div>

      <div class='radio-wrapper'>
        <input type='radio' id='no' name='assisting' value='No' />
        <label for='no'>No</label>
      </div>
    </fieldset>
    {errors.assisting && <p class='error'>{errors.assisting}</p>}

    <label>
      <span class='label'>Notas (opcional)</span>
      <textarea name='notes' id='notes'></textarea>
    </label>

    <input type='hidden' name='slug' value={slug} />

    <button type='submit'>ENVIAR</button>
  </form>
</div>

<style>
  .rsvp {
    margin-block-end: 2rem;
  }

  p {
    margin-block-end: 1rem;
  }

  form {
    text-align: left;
    display: grid;
    gap: 1rem;
  }

  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
  }

  .label {
    display: block;
    font-weight: 700;
  }

  .radio-wrapper {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  input[type='text'],
  textarea {
    width: 100%;
    resize: vertical;
    padding: 0.25rem;
    border-radius: 0.25rem;
    border: 0.125rem solid currentColor;
  }

  input[type='radio'] {
    accent-color: var(--color-green);
  }

  input:read-only {
    padding: 0;
    border: 0;

    &:hover,
    &:focus,
    &:focus-visible,
    &:active {
        outline: none;
    }
  }

  button {
    border: none;
    background-color: var(--color-black);
    color: var(--color-white);
    padding: 0.25rem;
    border-radius: 0.25rem;
    font-weight: 700;
    cursor: pointer;
    width: 100%;
    border: 0.125rem solid currentColor;
    transition: all 200ms ease-in;

    &:hover,
    &:focus-visible {
      color: var(--color-black);
      background-color: var(--color-white);
    }

    &:active {
      background-color: var(--color-gray);
    }
  }

  .error {
    color: var(--color-red);
  }

  .successBanner {
    background-color: var(--color-green);
    border-radius: 0.25rem;
    padding: 0.5rem;
    color: var(--color-white);
    margin-block-end: 1rem;
    font-weight: 700;
  }

  .errorBanner {
    background-color: var(--color-red);
    border-radius: 0.25rem;
    padding: 0.5rem;
    color: var(--color-white);
    margin-block-end: 1rem;
    font-weight: 700;
  }
</style>

<script>
  // Prevent form submission on page reload
  if (window.history.replaceState) {
    window.history.replaceState(null, null, window.location.href)
  }
</script>
